{% extends "base.html" %}

{% block title %}Auth{% endblock %}

{% block content %}
  <main>
      <div class="div_auth div_user">
        <form class="form_auth form" method="post">
          <h2 class="text_main">Вход</h2>
          <input class="input_lp" type="text" name="login" placeholder="Логин">
          <input class="input_lp" type="password" name="password" placeholder="Пароль">
          <p class="error">{{massage}}</p>
          <button class="btn_create">Войти</button>
        </form>
      </div>
  </main>
{% endblock %}