<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link href="static/css/style.css" rel="stylesheet">
  </head>
  <body>
    <header>
      <a href="/">Главная</a>
      {% if 'user' in session: %}
      <a href="/profile">Профиль</a>
      {% else: %}
      <a href="/auth">Вход</a>
      <a href="/reg">Регистрация</a>
      {% endif %}
    </header>
    {% block content %}{% endblock %}
    <footer></footer>
  </body>
</html>