{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
  <main>
    <form class="form_link form" method="post">
      <h2 class="text_main">Сокращение ссылки</h2>
      <input class="input_lp" type="text" name="long_link" placeholder="Введите ссылку">
      <select class="input_lp" name="accesses">
        <option value="1">публичный</option>
        <option value="2">общий</option>
        <option value="3">приватный</option>
      </select>
      <input class="input_lp" type="text" name="pseudonym" placeholder="Псевдоним">
      <button class="btn_create">Сократить</button>
      <p class="error">{{massage}}</p>
    </form>
  </main>
{% endblock %}