{% extends "base.html" %}

{% block title %}Регистрация{% endblock %}

{% block content %}
  <main>
      <div class="div_reg">
        <form class="form_reg form" method="post">
          <h3 class="vxod">Регистрация</h3>
          <label class="login_password" for="login">Логин</label>
          <input class="autoriza" type="text" name="login">
          <label class="login_password" for="password">Пароль</label>
          <input class="autoriza" type="password" name="password">
          <label class="login_password" for="confirm_password">Подтвердите пароль</label>
          <input class="autoriza" type="password" name="confirm_password">
          <p class="eror">{{massage}}</p>
          <button class="btn_create">Зарегестрироваться</button>
        </form>
      </div>
  </main>
{% endblock %}