{% extends "base.html" %}

{% block title %}Регистрация{% endblock %}

{% block content %}
  <main>
      <div class="div_reg">
        <form class="form_reg form" method="post">
          <h2 class="text_main">Регистрация</h2>
          <input class="input_lp" type="text" name="login" placeholder="Логин">
          <input class="input_lp" type="password" name="password" placeholder="Пароль">
          <input class="input_lp" type="password" name="confirm_password" placeholder="Подтвердите пароль">
          <p class="error">{{massage}}</p>
          <button class="btn_create">Зарегестрироваться</button>
        </form>
      </div>
  </main>
{% endblock %}